.content{
	position: relative;
	top: 56px;
}
.fixed-header{
	position: fixed;
    z-index: 1000;
	top: 0;
    left: 0;
    right: 0;
	background-color: #75cc75;
}
.footer{
	border-top: 20px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 2em;
    background-color: #9e9b9b;
    color: white;
    padding-bottom: 2em;
}
.content{
	margin-top: 50px;
}

/* Login form */
.login-form{
	border-radius:10px;
    margin: auto;
    width: 30%;
    border: 2px solid #75cc75;
    padding: 10px;
    margin-top: 50px;
}
.btn-primary{
	background-color: #75cc75;
    border-color: #75cc75;
}

/* Administration navigation menu */
.admin-nav{
	list-style-type: none;
	padding: 0;
}
.admin-nav-item{
	padding: 5px;
	cursor: pointer;
}
.admin-nav-item.selected{
	background-color: #f1f1f1;
}

/* Accounts*/

/* Account Assignements */

/* ... */
