.fixed-header{
	position: fixed;
    z-index: 1000;
	top: 0;
    left: 0;
    right: 0;
	background-color: #ffffff;
	padding: 10px;
}
.logo, .title {
	display: inline-block;
}
.title {
	font-size: 30px;
    font-family: Copperplate Gothic Light;
}
.content{
	position: relative;
	top: 72px;
    padding: 10px;
}
.administration, .main-content{
	border: 2px solid #f5f5f5;
    border-radius: 10px;
    min-height: 600px;
}
hr{
	margin-top: 0;
	margin-bottom: 0;
}
.item-list-title {
	text-align: center;
} 

/* Login form */
.login-form{
	border-radius:10px;
    margin: auto;
    width: 30%;
    border: 1px solid #f5f5f5;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px #337ab7;
}
.log-out {
	cursor: pointer;
}

/* Administration navigation menu */
.admin-nav{
	list-style-type: none;
	padding: 0;
}
.admin-nav-item{
	padding: 5px;
	cursor: pointer;
}
.admin-nav-item.selected{
	background-color: #f1f1f1;
}

/* Accounts*/

/* Account Assignements */

/* ... */
