<h3>HomeBank About Page</h3>
<p>This is a portal where you can administrate your products, make internal payments and transfer resources between own accounts.</p>
<p>On the main page you can find all you products. If you click on one of them you will be redirected to the page with that specific product.</p>
<p>In the Borrowing page you can find your credit cards and transaction grid for each of them. You can generate an statement by clicking on the 'Print statement' button from the transaction grid header.</p>
<p>In the Banking page you can find your current accounts and transaction grid for each of them. You can generate an statement by clicking on the 'Print statement' button from the transaction grid header.</p>
<p>In the Banking page you can find your savings accounts and transaction grid for each of them. You can generate an statement by clicking on the 'Print statement' button from the transaction grid header.</p>
<p>To make a payment you have to click on the 'PAY' button from the top navigation bar and choose a type of payment.</p>
