<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="dropdown nav navbar-nav">
			<span class="dropdown-toggle navbar-nav-item" data-toggle="dropdown">PAY <span class="caret"></span></span>
			<ul class="dropdown-menu">
				<li class="navbar-nav-item" ng-click=internalPayment()><a>INTERNAL TRANSFER</a></li>
				<hr>
				<li class="navbar-nav-item" ng-click=currentToSavingPayment()><a>CURRENT TO SAVINGS</a></li>
				<hr>
				<li class="navbar-nav-item" ng-click=savingToCurrentPayment()><a>SAVINGS TO CURRENT</a></li>
				<hr>
				<li class="navbar-nav-item" ng-click=currentToCreditPayment()><a>CURRENT TO CREDIT</a></li>
				<hr>
				<li class="navbar-nav-item" ng-click=creditToCurrentPayment()><a>CREDIT TO CURRENT</a></li>
			</ul>
		</div>
		<div class="right-nav">
			<ul class="nav navbar-nav">
				<li class="navbar-nav-item nav-vetical-line" ng-click=homePage()><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
				<li class="navbar-nav-item" ng-click=borrowingPage()><a>Borrowing</a></li>
				<li class="active navbar-nav-item" ng-click=bankingPage()><a>Banking</a></li>
				<li class="navbar-nav-item nav-vetical-line" ng-click=savingsPage()><a>Savings</a></li>
				<li class="navbar-nav-item" ng-click=settings()><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></li>
				<li class="navbar-nav-item" ng-click=logOut()><a>Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="products">
	<div class="product-details cursor-pointer" ng-repeat="item in currentAccounts track by $index" ng-click=bankingPage(item.account.IBAN)>
		<div class="product-details-header banking">
			<div>CURRENT ACOUNT</div>
			<div>{{ item.account.IBAN }}</div>
		</div>
		<div class="product-details-content">
			<div>Currency: {{ item.account.currency }}</div>
			<div>Balance: {{ item.account.balance }}</div>
			<div ng-show="item.card">Card number: {{ item.card.card_no }}</div>
		</div>
	</div>
</div>

<div class="transaction-grid">
	<div class="transaction-grid-header banking">
		<div>Transaction list for account: {{ selectedProduct }}</div>
	</div>
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>DATE</th>
				<th>TYPE</th>
				<th>STATUS</th>
				<th>AMOUNT</th>
			</tr>
		</thead>
		<tbody>
			<tr class="item transaction cursor-pointer" ng-repeat="item in transactionList track by $index" ng-click=transactionDetails(item)>
				<td>{{ item.date }}</td>
				<td>{{ item.type }}</td>
				<td>{{ item.status }}</td>
				<td>{{ item.amount }}</td>
			</tr>
		</tbody>
	</table>
</div>
