<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="dropdown nav navbar-nav">
			<span class="dropdown-toggle navbar-nav-item" data-toggle="dropdown">PAY <span class="caret"></span></span>
			<ul class="dropdown-menu">
				<li class="navbar-nav-item"><a>INTERNAL TRANSFER</a></li>
				<li class="navbar-nav-item"><a>CURRENT TO SAVINGS</a></li>
				<li class="navbar-nav-item"><a>SAVINGS TO CURRENT</a></li>
				<li class="navbar-nav-item"><a>CURRENT TO CREDIT</a></li>
				<li class="navbar-nav-item"><a>CREDIT TO CURRENT</a></li>
			</ul>
		</div>
		<div class="right-nav">
			<ul class="nav navbar-nav">
				<li class="nav-vetical-line"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
				<li class="navbar-nav-item"><a>Borrowing</a></li>
				<li class="navbar-nav-item active"><a>Banking</a></li>
				<li class="navbar-nav-item nav-vetical-line"><a>Savings</a></li>
				<li><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></li>
				<li class="navbar-nav-item"><a>Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="products">
	<div class="product-details">
		<div class="product-details-header banking">
			<div>CURRENT ACOUNT</div>
			<div>HBCP00000000000000002001</div>
		</div>
		<div class="product-details-content">
			<div>Currency: RON</div>
			<div>Balance: -945.78</div>
			<div>Card number: 9057 7666 1951 8962</div>
		</div>
	</div>
	<div class="product-details">
		<div class="product-details-header banking">
			<div>CURRENT ACOUNT</div>
			<div>HBCP00000000000000002001</div>
		</div>
		<div class="product-details-content">
			<div>Currency: RON</div>
			<div>Balance: -945.78</div>
			<div>Card number: 9057 7666 1951 8962</div>
		</div>
	</div>
	<div class="product-details">
		<div class="product-details-header banking">
			<div>CURRENT ACOUNT</div>
			<div>HBCP00000000000000002001</div>
		</div>
		<div class="product-details-content">
			<div>Currency: RON</div>
			<div>Balance: -945.78</div>
			
		</div>
	</div>
	<div class="product-details">
		<div class="product-details-header banking">
			<div>CURRENT ACOUNT</div>
			<div>HBCP00000000000000002001</div>
		</div>
		<div class="product-details-content">
			<div>Currency: RON</div>
			<div>Balance: -945.78</div>
			<div>Card number: 9057 7666 1951 8962</div>
		</div>
	</div>
</div>

<div class="transaction-grid">
	<div class="transaction-grid-header banking">
		<div>Transaction list for account: HBCP00000000000000002001</div>
	</div>
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>DATE</th>
				<th>TYPE</th>
				<th>STATUS</th>
				<th>AMOUNT</th>
			</tr>
		</thead>
		<tbody>
			<tr class="item transaction" ng-repeat="item in transactionList track by $index">
				<td>{{ item.date }}</td>
				<td>{{ item.type }}</td>
				<td>{{ item.status }}</td>
				<td>{{ item.amount }}</td>
			</tr>
			<tr class="item transaction">
				<td>12/01/2016</td>
				<td>INTERN_TRANSFER</td>
				<td>WAITING</td>
				<td>-120.00</td>
			</tr>
			<tr class="item transaction">
				<td>03/10/2056</td>
				<td>INTERN_TRANSFER</td>
				<td>PROCESSED</td>
				<td>120.00</td>
			</tr>
		</tbody>
	</table>
</div>
