<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="dropdown nav navbar-nav">
			<span class="dropdown-toggle navbar-nav-item" data-toggle="dropdown">PAY <span class="caret"></span></span>
			<ul class="dropdown-menu">
				<li class="navbar-nav-item" ng-click=internalPayment()><a>INTERNAL TRANSFER</a></li>
				<li class="navbar-nav-item" ng-click=currentToSavingPayment()><a>CURRENT TO SAVINGS</a></li>
				<li class="navbar-nav-item" ng-click=savingToCurrentPayment()><a>SAVINGS TO CURRENT</a></li>
				<li class="navbar-nav-item" ng-click=currentToCreditPayment()><a>CURRENT TO CREDIT</a></li>
				<li class="navbar-nav-item" ng-click=creditToCurrentPayment()><a>CREDIT TO CURRENT</a></li>
			</ul>
		</div>
		<div class="right-nav">
			<ul class="nav navbar-nav">
				<li class="navbar-nav-item nav-vetical-line" ng-click=homePage()><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
				<li class="navbar-nav-item" ng-click=borrowingPage()><a>Borrowing</a></li>
				<li class="navbar-nav-item" ng-click=bankingPage()><a>Banking</a></li>
				<li class="navbar-nav-item nav-vetical-line" ng-click=savingsPage()><a>Savings</a></li>
				<li class="navbar-nav-item" ng-click=settings()><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></li>
				<li class="navbar-nav-item" ng-click=logOut()><a>Log out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="welcome">
	<h3>Welcome {{username}}!</h3>
</div>
<hr>
<div class="row main-page-products">
	<div class="col-md-4">
		<div class="product borrowing cursor-pointer" ng-repeat="item in credidCards track by $index" ng-click=borrowingPage(item.account.IBAN)>
			<div>CREDIT CARD</div>
			<div>{{ item.card.card_no }}</div>
			<div>Balance: {{ item.account.balance }} {{ item.account.currency }}</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="product banking cursor-pointer" ng-repeat="item in currentAccounts track by $index" ng-click=bankingPage(item.account.IBAN)>
			<div>CURRENT ACCOUNT</div>
			<div>{{ item.account.IBAN }}</div>
			<div>Balance: {{ item.account.balance }} {{ item.account.currency }}</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="product savings cursor-pointer" ng-repeat="item in savingsAccounts track by $index" ng-click=savingsPage(item.account.IBAN)>
			<div>SAVING ACCOUNT</div>
			<div>{{ item.account.IBAN }}</div>
			<div>Balance: {{ item.account.balance }} {{ item.account.currency }}</div>
		</div>
	</div>
</div>
